
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <link rel="stylesheet" href="/static/index.css">
    <script type="text/javascript" src="/static/Table.js" ></script>   
    <script type="module" src="/javascript/database.mjs"></script>
  </head>
  <body>
    <div class="tableBox">
      <h2>      Games     </h2>
      <form id="form" method="POST">
        <h4>Filters:</h4>
        <label for="date">Date: </label>
        <input type="text" name="date" id="date">
        <label for="team">Team: </label>
        <input type="text" name="team" id="team">
        <input class="button-2" type="submit" value="Submit">
      </form>
      <div class="input-container">
        <input type="text" id="myInput" placeholder="Enter text">
        <button id="fetchDataButton" onclick="fetchCityData()">Search For Cities By State</button>
        <br></br>
        <table>
          <% if (data && data.length > 0) { %>
            <% data.forEach(entry => { %>
              <tr>
                <td><%= entry.CityName %></td>
                <td><%= entry.State %></td>
                <td><%= entry.Lat + ' ' + entry.Lon %></td>
                <td>
                  <form action="/map" method="GET">
                    <button type="submit">See it on the map!</button>
                  </form>
                </td>
              </tr>
            <% })} %>
        </table>
    </div>
    <script>
        async function fetchCityData() {
            const userInputCity = document.getElementById("myInput").value;
          try {
            // Make an API fetch request (replace with your actual API URL)
            const response = await fetch("http://localhost:4000/city/"+ userInputCity)
            //console.log("http://localhost:4000/city/"+ userInputCity)
    
            if(!response.ok){
              const errorMessage = `Error: ${response.status} ${response.statusText}`;
              throw new Error(errorMessage);
            }
    
            data = JSON.parse(response.body);
            alert(""+data);
            //const data = await response.json(); // Assuming the API returns JSON data
    
            // Output the data to the console
            //console.log('API Response1:', data1);
    
            // Optionally, display the response on the page (if needed)
            //document.getElementById('apiData').innerHTML = JSON.stringify(data1, null, 2);
    
          } catch (error) {
            console.error('Error fetching data:', error);
          }
        }
        
    </script>
      <!--table placeholder element-->
      <div id="myGrid" class="ag-theme-quartz" style="height: 500px; color:black"></div>
    </div>

  
    
    <!--
    <body id="markers-on-the-map">
      <div class="page-header">
          <h1>Map at a specified location</h1>
          <p>Display a map at a specified location and zoom level</p>
      </div>
      <p>This example displays a movable map initially centered on the <b>Brandenburg Gate</b> in the centre of Berlin <i>(52.5159°N, 13.3777°E)</i></p>
    -->   
      <div id="map"></div>
      <!-- 
      <h3>Code</h3>
      <p>
          The <code>map.setCenter()</code> method and <code>map.setZoom() </code>method are able to control the location of the map.<br>
      </p>
      <script type="text/javascript" src='demo.js'></script>
    </body>
  -->
</body>
</html>