<html>
    <head>
                <!-- Map API-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="/static/index.css">
        
        <title>Map at a specified location</title>
        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
        <link rel="stylesheet" type="text/css" href="../template.css" />
        <script type="text/javascript" src='../test-credentials.js'></script>    
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
        <script>window.ENV_VARIABLE = 'developer.here.com'</script><script src='/Static/Map.js'></script>
    </head>
    <body>
        <div style="display:flex; flex-direction: rowx">
            <form action="/">
                <button type="submit" class="button-2">Home</button>
            </form>
            <form action="/admin">
                <button class="button-2" type="Submit">Admin Login</button>
            </form>
        </div>
        <div class="tableBox">
            <h2>Airports</h2>
                <form id="form2">
                    <input type="hidden" name="stadium" value=<%= stadiumID %>>
                    <h4>Filters:</h4>
                    <label for="dist">Max distance from stadium: </label>
                    <select name="dist" id="dist">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <button class="button-2" onclick="fetchAirports()">Search</button>
                </form>
                <table id="airports">
                    <th>Airports</th>
                    <% if (data && data.length > 0) { %>
                        <% data.forEach(entry => { %>
                            <tr>
                                <td><%= entry.AirportName %></td>
                            </tr>
                            <% })} %>
                </table>
            </div>
            <div id="markers-on-the-map">
                <div id="map" style="width:80%; height:100%; margin:auto"></div>
                <script>
                    const myData = ('<%= JSON.stringify(data) %>');
                </script>
                <script type="text/javascript" src='/static/Map.js'></script>
            </div>
    </body>
</html>